.light-bg {
    background-color: #f3f4f6;
  }
  
  .dark-bg{
    background-color: #1f2937 !important;
  }
  
  .light-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dark-card {
    background-color: #374151 !important;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .light-input {
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    color: #374151;
  }
  
  .dark-input {
    background-color: #4a5568 !important;
    border: 1px solid #4a5568;
    color: #ffffff;
  }
  
  .dark-input::placeholder {
    color: #a0aec0 !important;
  }
  
  .light-input::placeholder {
    color: #a0aec0;
  }